body{
  background-color: skyblue;
}
h1{
  text-align: center;

}
h3{
  text-aligin: center;
  width: 1000px;
}

form{
  text-align: center;
}

textarea{
font-size: 30px;
width: 500px;
height:100px;
}
div{
  font-size: 100px;
}
