<web-app>
  <servlet>
    <servlet-name>test</servlet-name>
    <jsp-file>/test.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ThreadServlet</servlet-name>
    <servlet-class>ThreadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ThreadServlet</servlet-name>
    <url-pattern>/ThreadServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>testRes</servlet-name>
    <jsp-file>/testRes.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>testRes</servlet-name>
    <url-pattern>/testRes</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResServlet</servlet-name>
    <servlet-class>ResServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ResServlet</servlet-name>
    <url-pattern>/ResServlet</url-pattern>
  </servlet-mapping>
</web-app>
