
#sub {
	float: right;	/*左側にフロート*/
	width: 210px;	/*サブコンテンツ幅*/
	padding: 20px 0px 30px 15px;	/*左から、上、右、下、左の余白*/
}
/*h3タグ設定*/
#sub h2 {
	font-size: 100%;
	border: 2px solid #d3cdc2;	/*枠線の幅、線種、色*/
	background:url(obi2.png) repeat-x center top;	/*背景色、背景画像の読み込み＆X軸(横軸)にリピート＆上部に配置*/
	padding: 20px 5px 15px;	/*左から、上、左右、下への余白*/
	text-align: center;	/*文字をセンタリング*/
  height:10px;
  width:310px;
}
/*段落タグの余白設定*/
#sub p {
	padding: 0.5em 5px 1em;	/*左から、上、左右、下への余白*/
}
#sub ul { list-style-type: none;
          text-align: left;
        }
